<!-- NATASHA: Partials added Sept. 15. Not working properly yet

<div class="row row-cols-1 row-cols-md-2 g-4"></div>
{{!--partial pages are, like layout.hbs, another way of avoiding repeat-coding.
partials are basically the code inside of indivual views/pages/links within a website.
so the pets-list.hbs is the pets page, right? well, inside the pets-list.hbs file, it'll
refer to the pets-listPartials.hbs file with: {{> pest-listPartials this}}
for the template within that page, making it all look
neater and more simple.--}}
<!-- <img src={{this.image_url}} alt="guinea pigs"> -->
<div class="col">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Name: {{this.name}}</h5>
            <p class="card-text">Description: {{this.description}}</p>
        </div>
    </div>
</div> 