<!-- View added Sept. 15, further changes made Sept. 22th-->
<br />
<h1 class="about-title">ABOUT US</h1>
<div class="center">
  <p class="about-pp">
    <br />
    Welcome to Gelderlander! We are a children’s farm in Duiven, NL. We offers
    services ranging from visits to our petting zoo, to buying small pets. We
    also offer pet rental services. Over the years, our farm has been offered so
    many unwanted pets, that our pens and cages are full. We would like to stop
    the cycle of parents bringing in animals simply because children have become
    bored with them. Thus, our pet rental services.

    <br />
    <br />

    Parents and children can choose to rent from guinea pigs, mice, gerbils,
    hamsters, or tame rats. We offer a six-week lease (including a cage) for €15
    plus a €35 deposit. This lease can also be extended for another six or 12
    weeks, and if it’s been decided that if the children have truly fallen in
    love with the pet, you can buy it for €10. If you have any more questions,
    please don’t hesitate to call us at +31 (0) 6 28 10 57, or send us an email
    at gelder-farm@horsterpark.nl. We hope to hear from you soon!</p>
</div>