{{!--NATASHA: Changes made Sept. 15. Changed the "Host-a-pet created with Ironlauncher" to "HOST A PET" and changed the paragraph tag. Also added the links at the end}}
{{!--<h1>{{title}} 🚀</h1>--}}

<h1 class="index-title">HOST A PET</h1>

<p class="index-welcome">Welcome to Host a Pet</p>

<a href="/pets"><p align="center">PETS</p></a>
<a href="/auth/signup" align="middle">SIGN UP</a>

{{!--NATASHA: Sept. 19: commented out map here and put it in footer --}}
{{!-- <div id="mapid"></div> --}}