{{!--NATASHA: Changes made Sept. 15. Changed the "Host-a-pet created with Ironlauncher" to "HOST A PET" and changed the paragraph tag. Also added the links at the end}}
{{!--<h1>{{title}} 🚀</h1>--}}

<h1>HOST A PET</h1>

<p>Welcome to Host a Pet</p>

<a href="/pets">Pets</a>
<a href="/auth/signup">Sign Up</a>