{{!--NATASHA: Changes made Sept. 15. Changed the "Host-a-pet created with Ironlauncher" to "HOST A PET" and changed the paragraph tag. Also added the links at the end}}
{{!--<h1>{{title}} 🚀</h1>--}}

{{!--
<h1 class="index-title">HOST A PET</h1>

<p class="index-welcome">Welcome to Host a Pet</p>
--}}

<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px">HOST A PET</h1>
        <h3>Welcome to Host a Pet</h3>
<form id="pet-button" action="/pets" method="POST">
    <button type="submit">PETS</button>
<a href="/auth/signup">
    <p align="center">SIGN UP
</a>

<div class="btn-group">
    <a href="/pets" class="btn btn-primary">PETS</a>
    <a href="/auth/signup" class="btn btn-default">SIGN UP</a>
</div>

    </div>
</div>

{{!--NATASHA: Sept. 19: commented out map here and put it in footer in layout--}}
{{!-- <div id="mapid"></div> --}}