{{!--NATASHA: Changes made Sept. 15. Changed the "Host-a-pet created with Ironlauncher" to "HOST A PET" and changed the paragraph tag. Also added the links at the end}}
{{!--<h1>{{title}} 🚀</h1>--}}

{{!
<h1 class="index-title">HOST A PET</h1>

<p class="index-welcome">Welcome to Host a Pet</p>
}}

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:100px">HOST A PET</h1>
    <br />
    <h3>Welcome to Host a Pet</h3>
    <h4>The place for you to find your perfect rodent friend</h4>
    <br />

    {{!NATASHA SEPT. 22: Messing around with buttons. Feel free to edit/fix}}

    <div
      class="btn-toolbar"
      style="display: block;"
      role="toolbar"
      aria-label="Toolbar with button groups"
    >
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <a href="/pets" class="btn btn-primary">SEE THE PETS</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Second group">
        <a href="/auth/signup" class="btn btn-primary">SIGN UP</a>
      </div>
    </div>

  </div>
</div>

{{!NATASHA: Sept. 19: commented out map here and put it in footer in layout}}
{{! <div id="mapid"></div> }}