<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <nav>

      <a href="/">Home</a>
      <br />
      <a href="/pets">Pets</a>
      <br />
      <a href="/about">About</a>
      <br />
      <a href="/profile">Profile</a>
      <br />
      <a href="/auth/login">Login</a>
      <br />
      <a href="/auth/signup">Sign Up</a>
    </nav>

    <hr />

    <div id="mapid"></div>

    {{{body}}}

    <script src="/js/script.js"></script>
    <script src="/js/map.js"></script>

  </body>

</html>