<h1>Congratulations!</h1>

<h3>{{this.pet.name}} is yours to host</h3>

<p>Please come to the centre within the next five days to pick them up</p>
<hr />
<p>Below you can find all the information correctly care for you pet.
  <hr />
  <a
    href="https://www.rspca.org.uk/adviceandwelfare/pets/rodents/guineapigs"
  >Guinea Pigs</a>
  <a
    href="https://www.rspca.org.uk/adviceandwelfare/pets/rodents/hamsters"
  >Hamsters</a>
  <a
    href="https://www.rspca.org.uk/adviceandwelfare/pets/rodents/gerbils"
  >Gerbils</a>
  <a href="https://www.rspca.org.uk/adviceandwelfare/pets/rodents/rats">Rats</a>
  <a href="https://www.rspca.org.uk/adviceandwelfare/pets/rodents/mice">Mice</a>
</p>