<h1>Congratulations! {{user.username}}</h1>

<h3>{{this.pet.name}} is yours to host</h3>

{{!NATASHA: <br> added Sept. 17th}}
<p>Please come to the centre within the next five days to pick your reservation
  up</p>
<hr />
<p>Below you can find all the information to correctly care for you pet.
  <hr />
  <a
    href="https://www.rspca.org.uk/adviceandwelfare/pets/rodents/guineapigs"
  >Guinea Pigs</a>
  <br />
  <a
    href="https://www.rspca.org.uk/adviceandwelfare/pets/rodents/hamsters"
  >Hamsters</a>
  <br />
  <a
    href="https://www.rspca.org.uk/adviceandwelfare/pets/rodents/gerbils"
  >Gerbils</a>
  <br />
  <a href="https://www.rspca.org.uk/adviceandwelfare/pets/rodents/rats">Rats</a>
  <br />
  <a href="https://www.rspca.org.uk/adviceandwelfare/pets/rodents/mice">Mice</a>
</p>