{{! views/users/user-profile.hbs }}

{{#if loggedI}}
  <h2>Welcome, {{userInSession.username}}!</h2>
  <p>Here's your profile page!</p>
  <button>
    <a href="/user-profile">Reload the page</a>
  </button>
{{else}}
  <p>You're still not logged in, sorry!</p>
{{/if}}